---
import PixelMe from '../images/pixel_me.png';
import ButtonLink from './ButtonLink.astro';
import { Icon } from 'astro-icon'


const navLinks = [
    {
        name: 'Home',
        link: '/',
    },
    {
        name: 'About',
        link: '/about',
    },
    {
        name: 'Projects',
        link: '/projects',
    },
    {
        name: 'Blog',
        link: '/blog',
    }
];

---

<nav class="flex justify-between px-8 pt-8 pb-4 md:pb-0 items-center align-middle">
    <div>
        <a href="/">
            <img 
                src={PixelMe}
                alt="Pixel art of myself, Richard Li"
                class="w-8 h-8"
            />
        </a>
    </div>

    <div class="md:hidden">
        <Icon id="menu" class="hover:cursor-pointer" name="ion:menu" width="32" height="32" tabindex="0" />

        <aside id="sidebar" class="bg-slate-950 absolute h-full top-0 right-0 z-50 overflow-hidden w-0 transition-all invisible ">
            <div class="flex justify-end p-4">
                <Icon id="close" class="hover:cursor-pointer " name="ion:close" width="32" height="32" tabindex="0" />
            </div>
            <div class="flex flex-col gap-8 items-center align-middle">
                {navLinks.map((link) => (
                    <a 
                        href={link.link}
                    >
                        {link.name}
                    </a>
                ))}
                <ButtonLink href="/resume.pdf">
                    Resume
                </ButtonLink>
            </div>
        </aside>

    </div>
    <div class="md:flex gap-8 items-center align-middle hidden bg-gradient-to-br from-sky-600 via-purple-500 to-teal-500 bg-clip-text">
        {navLinks.map((link, index) => (
            <a 
                href={link.link}
            >
                <span class="font-bold text-transparent">{index + 1}.</span> {link.name}
            </a>
        ))}
        <ButtonLink href="/resume.pdf">
                Resume
        </ButtonLink>

    </div>

</nav>

<script>
    const menu = document.getElementById('menu');
    const close = document.getElementById('close');
    const sidebar = document.getElementById('sidebar');

    menu?.addEventListener('click', () => {
        sidebar?.classList.remove('invisible');
        sidebar?.classList.remove('w-0');
        sidebar?.classList.add('w-44');
    });

    close?.addEventListener('click', () => {
        sidebar?.classList.remove('w-44');
        sidebar?.classList.add('w-0');
        sidebar?.classList.add('invisible');
    });

</script>